<h1>Prueba index vecinos</h1>
<h2>Listado de vecinos</h2>
<ul>
    <% @vecinos.each do |vecino| %>
    <li>
        <p><%= vecino.nombre %></p>
        <p><%= vecino.apellido %></p>
        <p><%= vecino.direccion %></p>
        <p><%= vecino.fecha_nacimiento %></p>
    </li>
    <% end %>
</ul>