<h1>Nuevo vecino</h1>
<form>
    <label for="nombre">Nombre</label>
    <input type="text" name="nombre">
    <label for="apellido">Apellido</label>
    <input type="text" name="apellido">
    <input type="submit" value="Crear" />
</form>